# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

projeto_imagem1.PNG
projeto_imagem2.PNG
projeto_imagem3.PNG
projeto_imagem4.PNG
projeto_imagem5.PNG
